.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.card , .search{
    width: 300px;
}

.padding{
    padding: 20px;
}

.forecasts{
    width: 80%;
}