

.navbar{
    font-weight: bold;
    align-items: center;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 10em 10em;
    padding: 20px;
}
.logo{
    display: flex;
    align-items: center;
    color: #f6f6f6;
}
.icons{
    display: flex;
    justify-content:space-between;
}

.icon{
    cursor: pointer;
    color: #f6f6f6;
    text-decoration: none;
}
